[submodule "themes/landing-page"]
	path = themes/landing-page
	url = git@github.com:deadpointrecords/landing-page.git
[submodule "public"]
	path = public
	url = git@github.com:deadpointrecords/deadpointrecords.github.io.git
